<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>27</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>56</data>
      <data>68</data>
      <data>186</data>
      <data>162</data>
      <data>186</data>
      <data>68</data>
      <data>56</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>124</data>
      <data>198</data>
      <data>198</data>
      <data>254</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>126</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>126</data>
      <data>192</data>
      <data>192</data>
      <data>252</data>
      <data>192</data>
      <data>192</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>254</data>
      <data>192</data>
      <data>192</data>
      <data>248</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>126</data>
      <data>192</data>
      <data>192</data>
      <data>206</data>
      <data>198</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>254</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>254</data>
      <data>6</data>
      <data>6</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>254</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>198</data>
      <data>238</data>
      <data>254</data>
      <data>214</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>124</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>192</data>
      <data>192</data>
      <data>192</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>17</charcode>
    <chardata>
      <data>120</data>
      <data>204</data>
      <data>204</data>
      <data>204</data>
      <data>204</data>
      <data>220</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>18</charcode>
    <chardata>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>252</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>19</charcode>
    <chardata>
      <data>126</data>
      <data>192</data>
      <data>192</data>
      <data>124</data>
      <data>6</data>
      <data>6</data>
      <data>252</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>20</charcode>
    <chardata>
      <data>126</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>21</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>22</charcode>
    <chardata>
      <data>194</data>
      <data>198</data>
      <data>204</data>
      <data>216</data>
      <data>240</data>
      <data>224</data>
      <data>192</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>23</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>214</data>
      <data>254</data>
      <data>238</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>24</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>124</data>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>25</charcode>
    <chardata>
      <data>198</data>
      <data>198</data>
      <data>198</data>
      <data>126</data>
      <data>6</data>
      <data>198</data>
      <data>124</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>26</charcode>
    <chardata>
      <data>254</data>
      <data>6</data>
      <data>12</data>
      <data>24</data>
      <data>48</data>
      <data>96</data>
      <data>254</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>27</charcode>
    <chardata>
      <data>2</data>
      <data>7</data>
      <data>7</data>
      <data>2</data>
      <data>2</data>
      <data>50</data>
      <data>191</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>28</charcode>
    <chardata>
      <data>1</data>
      <data>2</data>
      <data>4</data>
      <data>8</data>
      <data>16</data>
      <data>32</data>
      <data>64</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>29</charcode>
    <chardata>
      <data>128</data>
      <data>64</data>
      <data>32</data>
      <data>16</data>
      <data>8</data>
      <data>4</data>
      <data>2</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>30</charcode>
    <chardata>
      <data>246</data>
      <data>173</data>
      <data>173</data>
      <data>237</data>
      <data>173</data>
      <data>173</data>
      <data>238</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>31</charcode>
    <chardata>
      <data>218</data>
      <data>178</data>
      <data>178</data>
      <data>186</data>
      <data>178</data>
      <data>178</data>
      <data>219</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>33</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>34</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>36</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>37</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>38</charcode>
    <chardata>
      <data>120</data>
      <data>236</data>
      <data>104</data>
      <data>56</data>
      <data>110</data>
      <data>196</data>
      <data>126</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>39</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>8</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>40</charcode>
    <chardata>
      <data>28</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
      <data>28</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>41</charcode>
    <chardata>
      <data>56</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>12</data>
      <data>56</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>146</data>
      <data>84</data>
      <data>56</data>
      <data>254</data>
      <data>56</data>
      <data>84</data>
      <data>146</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>43</charcode>
    <chardata>
      <data>0</data>
      <data>24</data>
      <data>24</data>
      <data>126</data>
      <data>24</data>
      <data>24</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
